{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <p>
    Yale SOM has a fantastic cafeteria. I loved the korean bbq tacos today. THanks Dave.
  </p>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}